<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Sign up</h1>
        <p class="lead"></p>
    </div>
</div>
<div class="container">
    <form ng-submit="signupCtrl.signup()" ng-init="signupCtrl.init()">
        <div class="response"></div>
        <div class="form-group">
            <label for="signUp-username">Username</label>
            <input type="text" class="form-control" ng-class="(signupCtrl.errors.username) ? 'is-invalid' : ''"
                id="signUp-username" ng-model="signupCtrl.username" placeholder="Enter username" required>
            <div class="invalid-feedback" ng-show="signupCtrl.errors.username"
                ng-repeat="error in signupCtrl.errors.username">{{error}}</div>
        </div>
        <div class="form-group">
            <label for="signUp-password">Password</label>
            <input type="password" class="form-control" ng-class="(signupCtrl.errors.password) ? 'is-invalid' : ''"
                id="signUp-password" ng-model="signupCtrl.password" placeholder="Enter password" required>
            <div class="invalid-feedback" ng-show="signupCtrl.errors.password"
                ng-repeat="error in signupCtrl.errors.password">{{error}}</div>
        </div>
        <div class="form-group">
            <label for="signUp-confirmPassword">Repeat Password</label>
            <input type="password" class="form-control"
                ng-class="(signupCtrl.errors.confirmPassword) ? 'is-invalid' : ''" id="signUp-confirmPassword"
                ng-model="signupCtrl.confirmPassword" placeholder="Enter password again" required>
            <div class="invalid-feedback" ng-show="signupCtrl.errors.confirmPassword"
                ng-repeat="error in signupCtrl.errors.confirmPassword">{{error}}</div>
        </div>
        <div class="form-group">
            <label for="signUp-email">Email Address</label>
            <input type="email" class="form-control" ng-class="(signupCtrl.errors.email) ? 'is-invalid' : ''"
                id="signUp-email" ng-model="signupCtrl.email" placeholder="Enter email" required>
            <div class="invalid-feedback" ng-show="signupCtrl.errors.email"
                ng-repeat="error in signupCtrl.errors.email">{{error}}</div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>