<div class="modal fade" id="signUpModel" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel"
    aria-hidden="true" ng-init="signupCtrl.isModal = true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="progress" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;"
                ng-show="signupCtrl.loading">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="signUpModalLabel">Create Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form ng-submit="signupCtrl.signup()">
                <div class="modal-body">
                    <div class="response"></div>
                    <div class="form-group">
                        <label for="signUp-username">Username</label>
                        <input type="text" class="form-control"
                            ng-class="(signupCtrl.errors.username) ? 'is-invalid' : ''" id="signUp-username"
                            ng-model="signupCtrl.username" placeholder="Enter username" required>
                        <div class="invalid-feedback" ng-show="signupCtrl.errors.username"
                            ng-repeat="error in signupCtrl.errors.username">{{error}}</div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-password">Password</label>
                        <input type="password" class="form-control"
                            ng-class="(signupCtrl.errors.password) ? 'is-invalid' : ''" id="signUp-password"
                            ng-model="signupCtrl.password" placeholder="Enter password" required>
                        <div class="invalid-feedback" ng-show="signupCtrl.errors.password"
                            ng-repeat="error in signupCtrl.errors.password">{{error}}</div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-confirmPassword">Repeat Password</label>
                        <input type="password" class="form-control"
                            ng-class="(signupCtrl.errors.confirmPassword) ? 'is-invalid' : ''"
                            id="signUp-confirmPassword" ng-model="signupCtrl.confirmPassword"
                            placeholder="Enter password again" required>
                        <div class="invalid-feedback" ng-show="signupCtrl.errors.confirmPassword"
                            ng-repeat="error in signupCtrl.errors.confirmPassword">{{error}}</div>
                    </div>
                    <div class="form-group">
                        <label for="signUp-email">Email Address</label>
                        <input type="email" class="form-control"
                            ng-class="(signupCtrl.errors.email) ? 'is-invalid' : ''" id="signUp-email"
                            ng-model="signupCtrl.email" placeholder="Enter email" required>
                        <div class="invalid-feedback" ng-show="signupCtrl.errors.email"
                            ng-repeat="error in signupCtrl.errors.email">{{error}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>