<div class="nav-menu col-12 col-md-3 col-lg-2 col-xl-2 p-0">
    <div class="brand">EShop</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li ng-class="{ active: sidebarCtrl.isRoot('/') }">
                <a href="#!">
                    <i class="fas fa-tachometer-alt"></i>Dashboard
                </a>
            </li>

            <li data-toggle="collapse" data-target="#user" class="collapsed">
                <a><i class="fas fa-users"></i>Users<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu " id="user" ng-class="sidebarCtrl.isActive('/users') ? 'show' : 'collapse'">
                <li ng-class="{ active: sidebarCtrl.isActive('/users/all-users') }"><a href="#!users/all-users">All Users</a></li>
                <li><a>Add User</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#product" class="collapsed">
                <a ><i class="fas fa-box"></i>Products<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="product">
                <li><a >Categories</a></li>
                <li><a >Products</a></li>
            </ul>


            <li data-toggle="collapse" data-target="#setting" class="collapsed">
                <a ><i class="fas fa-cogs"></i>Settings<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="setting">
                <li><a >Site Configuration</a></li>
            </ul>
        </ul>
    </div>
</div>