<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Order #{{singleOrderCtrl.orderId}}</h1>
        <p class="lead" ng-if="singleOrderCtrl.paymentStatus == 0">Order has been created. Please confirm the payment.
        </p>
        <p class="lead" ng-if="singleOrderCtrl.paymentStatus == 1">Review your order</p>
    </div>
</div>
<div class="container py-2">
    <div class="row bg-light p-2 my-4" ng-if="singleOrderCtrl.order">
        Order not found<br>
    </div>
    <div class="row bg-light p-2 ">
        <div class="col-12 mt-2"></div>
        <div class="col-6">Order Status</div>
        <div class="col-6 text-right text-secondary">{{singleOrderCtrl.orderStatusMessage(singleOrderCtrl.orderStatus)}}
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div class="col-6">Payment Status</div>
        <div class="col-6 text-right text-secondary">
            {{singleOrderCtrl.paymentStatusMessage(singleOrderCtrl.paymentStatus)}}</div>
        <div class="col-12 mb-2"></div>
    </div>
    <div class="row bg-light p-2 my-4" ng-repeat="product in singleOrderCtrl.orderProducts">
        <div class="row col-12">
            <div class="col-12 alert alert-danger" role="alert" ng-show="singleOrderCtrl.errors[product.id]">
                <div ng-repeat="error in singleOrderCtrl.errors[product.id]">
                    {{error}}
                </div>
            </div>
            <div class="col-2 text-center d-flex align-items-center">
                <a href="{{'#!products/' + product.id}}">
                    <img ng-if="product.image" ng-src="{{product.image}}" class="p-1" width="64" />
                    <div ng-if="!product.image">No product image</div>
                </a>
            </div>
            <div class="col-8 d-flex align-items-center">
                <div class="text-center text-lg-left">
                    <a class="text-dark" href="{{'#!products/' + product.id}}">
                        {{product.name}}
                    </a>
                    <span class="text-secondary">x {{product.amount}}</span>
                </div>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-end">
                <div class="text-secondary">
                    ${{product.price * product.amount | number : 2}}
                </div>
            </div>
        </div>
    </div>

    <div class="row bg-light p-2 my-4">
        <div class="form-group col-12 py-2">
            <label for="messageTextarea">Customer message</label>
            <textarea class="form-control" id="messageTextarea" rows="3" ng-model="singleOrderCtrl.message"
                disabled></textarea>
        </div>
    </div>
    <div class="row bg-light p-2 my-4" ng-if="singleOrderCtrl.adminMessage">
        <div class="form-group col-12 py-2">
            <label for="messageTextarea">Response</label>
            <textarea class="form-control" id="messageTextarea" rows="3" ng-model="singleOrderCtrl.adminMessage"
                disabled></textarea>
        </div>
    </div>
    <div class="row bg-light p-2 my-4">
        <div class=" col-12">
            <div class="alert alert-warning" role="alert" ng-if="singleOrderCtrl.errors">
                <div ng-repeat="error in singleOrderCtrl.errors">
                    <div ng-repeat="s in error">
                        {{s}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-12" ng-if="singleOrderCtrl.paymentStatus == 0">
            <div class="col-6 text-center">
                <div class="mt-2 mb-2 text-left">
                    Credits
                </div>
            </div>
            <div class="col-6">
                <div class="mt-2 mb-2 text-right text-secondary">
                    ${{singleOrderCtrl.credits | number: 2}}
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6 text-left">
                <div class="mt-2 mb-2 text-left">
                    Total
                </div>
            </div>
            <div class="col-6">
                <div class="mt-2 mb-2 text-right text-secondary">
                    ${{singleOrderCtrl.getTotalPrice() | number: 2}}
                </div>
            </div>
        </div>
        <div class="row col-12" ng-if="singleOrderCtrl.paymentStatus == 0">
            <div class="col-6 text-center">
                <div class="mt-2 mb-2 text-left">
                    Balance
                </div>
            </div>
            <div class="col-6">
                <div class="mt-2 mb-2 text-right text-secondary"
                    ng-class="{ 'text-danger' : singleOrderCtrl.getBalance() < 0}">
                    ${{singleOrderCtrl.getBalance() | number: 2}}
                </div>
            </div>
        </div>
        <div class="row col-12" ng-if="singleOrderCtrl.paymentStatus == 1">
            <div class="col-12 text-center text-success mb-2">
                Payment confirmed on {{singleOrderCtrl.confirmDate | date: 'yyyy-MM-dd HH:mm:ss'}}
            </div>
        </div>
    </div>
    <div class="row mb-3" ng-if="singleOrderCtrl.paymentStatus == 0 && singleOrderCtrl.orderStatus == 0">
        <div class="col-12 col-md-8 col-lg-10">
            <a class="btn btn-secondary btn-lg text-light d-block d-md-inline"
                ng-click="singleOrderCtrl.cancelOrder()">Cancel Order</a>
        </div>
        <div class="col-12 col-md-4 col-lg-2 text-right">
            <a class="btn btn-primary btn-lg text-light d-block d-md-inline"
                ng-click="singleOrderCtrl.confirm()">Confirm</a>
        </div>
    </div>
</div>