<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-auto col-lg-4"><a class="navbar-brand" href="#">{{navbarCtrl.siteTitle}}</a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse col-auto col-lg-8" id="navbarSupportedContent">
        <div class="col-auto col-lg-6">
            <div class="mr-auto ml-auto position-relative" ng-mouseenter="navbarCtrl.searchEnter = true"
                ng-mouseleave="navbarCtrl.searchEnter = false; navbarCtrl.cancelSearch();">
                <form ng-submit="navbarCtrl.submitSearch(); navbarCtrl.searchName = null">
                    <div class="input-group mt-2 mt-lg-0">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">{{ navbarCtrl.selectedCategoryText }}</button>
                            <div class="dropdown-menu category-tree">
                                <script type="text/ng-template" id="dropdown-category-tree">
                                    <a class="text-secondary" ng-click="navbarCtrl.selectCategory(category.id, category.name)" style="padding-left: {{depth * 15}}px !important">{{ category.name }}</a>
                            <ul ng-if="category.children">
                                <li ng-repeat="category in category.children" ng-include="'dropdown-category-tree'" ng-init="depth = depth + 1">           
                                </li>
                            </ul>
                        </script>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="category in navbarCtrl.categories"
                                        ng-include="'dropdown-category-tree'" ng-init="depth = depth + 1">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input id="search-text" type="text" class="form-control" aria-label="Search" placeholder="Search products"
                            ng-model="navbarCtrl.searchName" ng-change="navbarCtrl.searchProduct()"
                            ng-blur="navbarCtrl.searchFocus = false; navbarCtrl.cancelSearch()" ng-focus="navbarCtrl.searchFocus = true">
                    </div>
                </form>
                <div class="position-absolute bg-white w-100 shadow ajax-search-result" style="z-index: 99"
                    ng-if="navbarCtrl.searchName">
                    <a class="p-3 d-block text-secondary" href="#!/products/{{product.id}}"
                        ng-repeat="product in navbarCtrl.searchProducts" ng-if="!navbarCtrl.searching"
                        ng-click="navbarCtrl.searchName = null">
                        <img ng-if="product.image" ng-src="{{product.image}}" class="p-1" width="64">
                        {{product.name}}
                    </a>
                </div>
            </div>
        </div>
        <div class="navbar-user col-auto col-lg-6 pr-0">
            <div class="btn-group col-12 col-lg-auto mt-2 mt-lg-0 float-lg-right"
                ng-hide="navbarCtrl.authService.authenticated">
                <button type="button" id="sign-in-btn" class="btn btn-light" data-toggle="modal"
                    data-target="#signInModel">Sign
                    In</button>
                <button type="button" id="sign-up-btn" class="btn btn-light" data-toggle="modal"
                    data-target="#signUpModel">Create
                    Account</button>
            </div>
            <signin-modal></signin-modal>
            <signup-modal></signup-modal>
            <div ng-show="navbarCtrl.authService.authenticated" class="float-lg-right">
                <div class="user-action d-block d-lg-inline text-center align-middle mt-2 mt-lg-0 mr-lg-1">
                    <a href="#!cart" class="card-link">
                        <i class="fas fa-shopping-cart text-secondary"></i>
                    </a>
                </div>
                <div class="d-block d-lg-inline dropdown mt-2 mt-lg-0">
                    <button class="btn btn-light dropdown-toggle user-btn" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-user-circle avatar px-1 align-baseline"></i>
                        {{navbarCtrl.authService.user.username}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#!profile">Profile</a>
                        <a class="dropdown-item" href="#!orders">Orders</a>
                        <a class="dropdown-item" href="#!credits">Credits</a>
                        <a class="dropdown-item" ng-href="/{{navbarCtrl.adminPortal}}/" ng-if="navbarCtrl.isAdmin">Admin
                            Portal</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" ng-click="navbarCtrl.authService.signOut()">Sign Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>