<div>
    <div class="row py-2">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="block stat bg-light p-2 mb-3 shadow-sm fade-in-view">
                        <h1 class="display-3 mt-3 font-weight-bold">{{dashboardCtrl.totalUserCount}}</h1>
                        <h5 class="text-secondary font-weight-normal">Total Users</h5>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="block bg-light p-2 mb-3 shadow-sm"></div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="block bg-light p-2 mb-3 shadow-sm"></div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="block bg-light p-2 mb-3 shadow-sm"></div>
                </div>
            </div>
        </div>
        <div class="col12 col-md-7 col-lg-9 col-xl-9">

        </div>
    </div>
</div>