<div>
    <div class="row">
        <div class="col-12 col-md-5 col-lg-3 col-xl-3">
            <form ng-submit="allUsersCtrl.submitSearch()">
                <div class="input-group mb-3 mt-3">
                    <div class="input-group-prepend" ng-if="allUsersCtrl.searchMode">
                        <a href='#!users/all-users' class="btn btn-danger">
                            <span aria-hidden="true">&times;</span></a>
                    </div>
                    <input type="text" class="form-control" placeholder="Search by Username" aria-label="Username"
                        aria-describedby="basic-addon2" ng-model="allUsersCtrl.q">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Last Login Date</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in allUsersCtrl.users" class="fade-in-view">
                <td class="align-middle">{{user.id}}</td>
                <td class="align-middle">{{user.username}}</td>
                <td class="align-middle">{{user.last_login_date | date: 'yyyy-MM-dd H:mm:ss'}}</td>
                <td class="align-middle text-right"><a href="{{ '#!users/edit-user/' + user.id }}"
                        class="btn btn-outline-primary">View/Edit</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <pagination ng-if="allUsersCtrl.loaded" curr-page="allUsersCtrl.currPage" max-pages="allUsersCtrl.maxPages"
            href-prefix="{{allUsersCtrl.searchMode ? '#!users/all-users/search/' + allUsersCtrl.q + '/' : '#!users/all-users/'}}">
        </pagination>
    </div>
</div>