<div class="px-3 py-2 py-md-4">
    <form ng-submit="editUserCtrl.submit()">
        <div class="row">
            <div class="col-12"><span class="text-secondary">Basic Information</span>
                <hr>
            </div>
        </div>
        <div class="form-group row">
            <label for="id" class="col-sm-2 col-form-label">ID</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" placeholder="ID" ng-model="editUserCtrl.data.id"
                    readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" placeholder="Username"
                    ng-model="editUserCtrl.data.username" ng-class="{ 'is-invalid' : editUserCtrl.errors.username }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.username"
                    ng-repeat="error in editUserCtrl.errors.username">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" placeholder="Password"
                    ng-model="editUserCtrl.data.password" ng-class="{ 'is-invalid' : editUserCtrl.errors.password }">
                <small id="passwordHelp" class="text-muted" ng-hide="editUserCtrl.errors.password">
                    Leave it empty if not changing the password
                </small>
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.password"
                    ng-repeat="error in editUserCtrl.errors.password">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Email"
                    ng-model="editUserCtrl.data.email" ng-class="{ 'is-invalid' : editUserCtrl.errors.email }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.email"
                    ng-repeat="error in editUserCtrl.errors.email">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="role" class="col-sm-2 col-form-label">Role</label>
            <div class="col-sm-10">
                <select class="custom-select" id="role" ng-model="editUserCtrl.data.role"
                    ng-class="{ 'is-invalid' : editUserCtrl.errors.role }">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.role"
                    ng-repeat="error in editUserCtrl.errors.role">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="credits" class="col-sm-2 col-form-label">Credits</label>
            <div class="col-sm-10">
                <input type="number" step="0.01" class="form-control" id="credits" placeholder="Credits"
                    ng-model="editUserCtrl.data.credits" ng-class="{ 'is-invalid' : editUserCtrl.errors.credits }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.credits"
                    ng-repeat="error in editUserCtrl.errors.credits">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3"><span class="text-secondary">Profile</span>
                <hr>
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                    ng-model="editUserCtrl.data.firstName" ng-class="{ 'is-invalid' : editUserCtrl.errors.firstName }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.firstName"
                    ng-repeat="error in editUserCtrl.errors.firstName">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                    ng-model="editUserCtrl.data.lastName" ng-class="{ 'is-invalid' : editUserCtrl.errors.lastName }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.lastName"
                    ng-repeat="error in editUserCtrl.errors.lastName">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                <select class="custom-select" ng-model="editUserCtrl.data.gender"
                    ng-class="{ 'is-invalid' : editUserCtrl.errors.gender }">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.gender"
                    ng-repeat="error in editUserCtrl.errors.gender">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" placeholder="Phone"
                    ng-model="editUserCtrl.data.phone" ng-class="{ 'is-invalid' : editUserCtrl.errors.phone }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.phone"
                    ng-repeat="error in editUserCtrl.errors.phone">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="address" class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="address" placeholder="Address"
                    ng-model="editUserCtrl.data.address" ng-class="{ 'is-invalid' : editUserCtrl.errors.address }">
                <div class="invalid-feedback" ng-show="editUserCtrl.errors.address"
                    ng-repeat="error in editUserCtrl.errors.address">
                    {{error}}
                </div>
            </div>
        </div>
        <div class="form-group row py-4 justify-content-center">
            <div class="col-sm-10 text-center">
                <div class="text-success mb-4" ng-if="editUserCtrl.success">Changes saved successfully</div>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUserModal">Delete
                    User</button>
            </div>
            <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog"
                aria-labelledby="deleteUserModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteUserModalTitle">Delete User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure to delete this user?<br>This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal"
                                ng-click="editUserCtrl.deleteUser()">Yes,
                                please delete it</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>