<div class="container">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-3 py-3 py-md-3">
            <category-list></category-list>
        </div>
        <div class="col-12 col-md-8 col-xl-9 py-md-3">
            <div id="carousel" class="carousel slide home-slides" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" ng-repeat="slide in homeCtrl.slides track by $index"
                        data-slide-to="{{$index}}" ng-class="{ 'active': $index == 0}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" ng-swipe-left="$parent.$parent.prev()" ng-swipe-right="$parent.$parent.next()" ng-repeat="slide in homeCtrl.slides track by $index"
                        ng-class="{ 'active': $index == 0}">
                        <a href="{{slide.url}}">
                            <img ng-src="{{slide.imageUrl}}" class="d-block">
                        </a>
                    </div>
                </div>
                <span class="carousel-control-prev" data-target="#carousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </span>
                <span class="carousel-control-next" data-target="#carousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </span>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h4 class="text-secondary">Latest Arrivals</h4>
            <hr>
            <div id="carousel-latest-products" class="carousel slide carousel-latest-products" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators"
                        ng-repeat="group in homeCtrl.latestProducts track by $index" data-slide-to="{{$index}}"
                        ng-class="{ 'active': $index == 0}"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item" ng-swipe-left="$parent.$parent.prev()" ng-swipe-right="$parent.$parent.next()" ng-repeat="group in homeCtrl.latestProducts"
                        ng-class="{ 'active': $index == 0}">
                        <div class="row" style="padding: 0 5%">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" ng-repeat="product in group">
                                <div class="card product shadow-sm">
                                    <a href="{{'#!products/' + product.id}}">
                                        <img class="card-img-top" ng-src="{{product.image}}" ng-if="product.image"
                                            alt="Card image cap">
                                    </a>
                                    <div class="card-body text-center">
                                        <h5 class="card-title font-weight-normal">{{product.name}}</h5>
                                        <h5 class="card-text text-secondary font-weight-normal">${{product.price}}</h5>
                                        <a href="{{'#!products/' + product.id}}" class="btn btn-outline-primary">View
                                            Product</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="carousel-control-prev" data-target="#carousel-latest-products" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </span>
                <span class="carousel-control-next" data-target="#carousel-latest-products" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </span>
            </div>
        </div>
    </div>
</div>