.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
[ng-cloak] {
    display: none !important;
}
.carousel-item img {
    max-height: 600px;
    object-fit: cover;
}

@media (max-width: 991px) {
    .user-btn {
        display: block;
        width: 100%;
    }
    .user-btn + .dropdown-menu { 
        left: 0;
    }
}

.center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}