.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

[ng-cloak] {
    display: none !important;
}

.carousel-item img {
    max-height: 600px;
    object-fit: cover;
}

@media (max-width: 991px) {
    .user-btn {
        display: block;
        width: 100%;
    }

    .user-btn+.dropdown-menu {
        left: 0;
    }
}

.center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-tree .list-group-item {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #f3f3f3 !important;
    margin-bottom: 0;
    background: transparent;
}

.category-tree .list-group {
    background: transparent;
}

.category-tree ul {
    list-style: none;
    padding-inline-start: 0 !important;
}

.category-tree ul li {
    list-style: none;
    padding-inline-start: 0 !important;
    padding: 0;
    border-radius: 5px;
    transition: all .2s ease;
}
.category-tree.dropdown-menu ul li {
    border-radius: 0;
    cursor: pointer;
}

.category-tree ul li a {
    padding-inline-start: 10px !important;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.category-tree ul li a:hover {
    background: rgba(0, 0, 0, .05);
}

.category .product.card {
    width: 100%;
}
.user-action a {
    padding: 8px;
    transition: all .25s ease;
    border-radius: 30px;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
}
.user-action a:hover {
    background: rgba(0,0,0,.1);
}